<div class="page">
        <div class="header red">
            <button class="left icon ion-android-arrow-back" onclick="backPage()"></button>
            <h1>Usuários</h1>
        </div>
    
        <div class="content has-header">
            formulario
        </div>
    
    </div>