<div class="page">
    <div class="header red">
        <button class="left icon ion-android-arrow-back" onclick="backPage()"></button>
        <h1>Usuários</h1>
    </div>

    <div class="content has-header">
        <div class="list">
            <div class="item" onclick="openPage('editar_usuario.html')">
                <h2>Anderson</h2>
                <p>anderson@servidor.com</p>
            </div>
            <div class="item">
                <h2>Henrique</h2>
                <p>henrique@servidor.com</p>
            </div>
        </div>
    </div>

</div>